* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  flex-wrap: wrap;
  align-content: center;
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(top, #222, #333);
}

.ticTacToe {
  display: flex;
  justify-content: space-between;
  width: 405px;
  height: 405px;
  padding: 5px;
  border: 1px solid #e4e4e4;
}
.ticTacToe .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ticTacToe .square {
  display: block;
  width: 125px;
  height: 125px;
  border: 1px solid #e4e4e4;
  color: #04b6ec;
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  padding: 20px;
}

.GameInitialInputs {
  width: 20em;
  height: 20em;
  border: 2px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
  align-content: center;
  align-items: center;
}

.GameInitialInputs__playBtn {
  margin-top: 1em;
  border-radius: 10px;
  width: 10em;
  background-color: #ca1442;
}

.history {
  border: 2px black solid;
  margin-left: 3em;
  margin-right: 3em;
  min-height: 2em;
  min-width: 10em;
}
